body {
    width: 100%;
	height: 98vh;
    overflow: hidden;
	color: white;
	background-image: url("background.png");
	background-repeat: no-repeat;
	background-position: 120% 15%;
	background-size: 35%;
}

.fill {
    width: 100%;
    height: 100%;
}

.content {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
}

.try {
    grid-column-start: 2;
    grid-column-end: 10;

    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
	font-size: 50px;
    font-family: courier;
	padding-top: 50px;
	color: #FFD43B;
	margin-top: 50px;
}

#frame_editor {
    grid-column-start: 3;
    grid-column-end: 10;

    grid-row-start: 3;
    grid-row-end: 7;
}

.edit-area-dynamic{
	background-color: yellow !important;
	overflow-y: hidden;
}

.suggestions {
    grid-column-start: 2;
    grid-column-end: 10;

    grid-row-start: 8;
    grid-row-end: 10;

    border: 2px solid black;
    box-sizing: border-box;
    overflow-y: scroll;
	background-color: #4B8BBE;
    font-family: courier;
	border-radius: 5px;
	border: none;
	margin-top: -60px;
}

::selection {
  color: white;
  background: black;
}

.suggestions p{
	padding-left: 20px;
}

.run-model {
    grid-column-start: 2;

    grid-row-start: 3;
    grid-row-end: 7;
	background-color:#FFD43B;
	color: white;
    font-family: courier;
	font-size: 15px;
	border: none;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	transition: all 0.2s;
	outline: none;
}

.run-model:active {
	background-color:#FFE873;
	color: #e1f2f9;
	font-weight: bold;
	font-size: 17px;
    vertical-align: top;
    padding-top: 5px;
}


/*width*/
::-webkit-scrollbar {
  width:10px;
}

/*track*/
::-webkit-scrollbar-track {
  background:#4B8BBE;
  border-style:solid;
  border-color:#4B8BBE;
  border-radius:4px;
}

/*thumb*/
::-webkit-scrollbar-thumb {
  background: #306998;
  border-width:3px;
  border-style:solid;
  border-color:#306998;
  border-radius:3px;
}
